.task {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.complete {
  text-decoration: 2px line-through;
}

.uncomplete {
  text-decoration: none;
}
